.header {
  font-family: Roboto;
}

.addButton {
  color: pink;
}


.node circle {
  stroke:#ccc;
  stroke-width: 2px;
}

.node text {
  font: 14px;
  font-family: Open Sans;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.kube-api {
  fill: pink;
}

.kube-controller {
  fill: red;
}

.kube-scheduler {
  fill: yellow;
}

.kube-node {
  fill: orange;
}

.kube-pod {
  fill: purple;
}
